/*FUENTES PERSONALIZADAS*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


/*ESTILOS ROOT*/
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style-type: none;
}

/* VARIABLES DOCUMENTO, FUENTES, TAMAÑOS ETC...*/

:root {
  --ff-primary: 'Fjalla One', sans-serif;
  --ff-secondary: 'Noto Sans SC', sans-serif;

  --fw-light: 300;
  --fw-reg-mid: 400;
  --fw-mid-bold: 700;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #000000;
  --clr-accent: #cc147f;
  --color-links: #cc147f;
  --fs-h1: 3.5rem;
  --fs-h2: 2em;
  --fs-h3-p: .9rem;
  --fs-body: 1rem;


}



/* ESTILOS GENERALES*/
html {
  max-width: 1440px;
  scroll-behavior: smooth;
  font-size: 16px;

}

a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  color: var(--clr-light);
}

a:hover,
a:focus {
  background-size: 100% 2px;
  right: 100%;
  transition: 1s;
 

}

.container {
  background: url('../img/bg-image.jpg');
  background-size: cover;
  width: 100%;
  height: 800px;
}

.contenedor-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--ff-primary);
  padding: 3em;
}


.nav {
  width: 30%;
  font-size: var(--fs-h2);

}

.nav__list {
  display: flex;
  justify-content: space-around;


}

.logo {
  width: 20%;
  color: var(--clr-light);

}

.intro-heading h1 {
  font-family: var(--ff-primary);
  font-size: var(--fs-h1);
  width: 40%;
  margin-top: 5em;
  margin-left: 3em;
  color: var(--clr-light);
}

.desc-heading {

  width: 20%;
  color: var(--clr-light);
  font-size: var(--fs-h2);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-reg-mid);
  margin-left: 5.3em;

}

/*about me*/


.about-me {
  padding: 10em;
  display: flex;
  flex-direction: row;
}

.foto-about {
  order: 2;
}

.foto-about img {
  box-shadow: 0px 0px 4px var(--clr-dark);
}

.about-me-texto {
  padding-top: 2em;
  margin-right: 4em;
  order: 1;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-light);
  width: 50%;

}


.titulo {
  order: 3;
  font-family: var(--ff-primary);
  font-size: var(--fs-h1);
  writing-mode: vertical-lr;

}

.banner {
  margin-top: 2.5em;
  max-width: 1440px;
  height: 300px;
  background-image: url(../img/banner.jpg);
}


.blockquote {
  padding: 9%;
  position: relative;
}

.blockquote p {
  font-family: var(--ff-secondary);
  color: var(--clr-light);
  font-size: var(--fs-h2);
  text-align: center;
}

.frase p {
  padding-top: 1em;
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3-p);
}


.blockquote::after {
  content: "";
  top: 20%;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  border-bottom: 3px solid var(--clr-light);
  width: 200px;
}

.titulo-portafolio h2{
  font-size: var(--fs-h1);
  font-family: var(--ff-primary);
  margin-bottom: 1em;
}

.contenedor-portfolio{
  width: 80%;
  margin: 0px auto;
  margin-top: 10em;
  margin-bottom: 4em;
}
.grid-gallery {
  display: grid;
  grid-auto-rows: 200px;
  grid-gap: 1rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(6, 1fr);

}

.grid-gallery__item:nth-child(11n+5) {
grid-column: span 1;
}

.grid-gallery__item:nth-child(11n+2) {
grid-column: span 2;
grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+9) {
grid-column: span 3;
grid-row: span 1;
}



.grid-gallery__image {
width: 100%;
height: 100%;
object-fit: cover;
}


footer {
  width: 100%;
  background-color:var(--clr-dark);
  font-family: var(--ff-secondary);
 
}

footer a:hover{
  color:var(--color-links)

}
.contenedor-links-footer {
  margin:0 auto;
  padding-top: 3em;
  line-height: 40px;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.datos1{
  order:1;
  text-align: center;
}

.datos1 i{
  margin: .5em;
}
.datos2{
  order:2;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 color: var(--clr-light);
 font-size: var(--fs-h2);
 margin: 0 auto;
  
}

.datos2 i {
  margin: 1em;
}
.contenedor-links-footer p {
  color: var(--clr-light);
  font-family: var(--ff-secondary);
}

.contenedor-links-footer li {
  list-style: none;
}


.des-por{
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-family: var(--ff-secondary);
  font-size: 10px;
  color: var(--clr-light);
  padding-bottom: 2em;
  line-height: 3em;
  
}


.container-boton{
  display: flex;
  justify-content: center;
  margin: 5em;
}

.container-boton a{
  background:var(--clr-dark);
  text-align: center;
  padding:1.5em;
  font-family: var(--ff-primary);
}
.container-boton a:hover{
  background-color:var(--color-links);
  box-shadow: 0px 0px 4px var(--clr-dark) ;
  transition: 1s;
}


/* MEDIA QUERYS*/



 
@media (max-width: 800px) {


  .container {
    background: url('../img/bg-image.jpg');
    background-size: cover;
    width: 100%;
    height: 500px;
  }

  .nav {
    width: 50%;
  }


  .intro-heading h1 {
    font-size: var(--fs-h1);
    width: 60%;
    margin: 0 auto;
  }


  .desc-heading {
    width: 20%;
    margin: 0 auto;

  }


  .about-me {
    margin: 0 auto;
    margin-top: 10em;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: var(--fs-h2);

  }

  .foto-about {
    order: 2;
    margin: 0 auto;
    margin-top: 1em;
  }


  .about-me-texto {
    order: 3;
    width: 100%;
    text-align: center;
  }


  .titulo {
    order: 1;
    margin: 0 auto;
    writing-mode: horizontal-tb;
  }

}
  






@media screen and (max-width:768px) {
  :root {
    --fs-h1: 2.5rem;
    --fs-h2: 1.7em;
    --fs-h3-p: 1.125rem;
    --fs-body: 1rem;
  }

  body {
    overflow-x: hidden;
  }

  .nav {
    align-items: center;
    margin: 0 auto;
    width: 50%;
  }

  .logo {
    display: none;

  }

  .intro-heading h1 {
    font-size: var(--fs-h1);
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 3em;
  }


  .desc-heading {
    width: 30%;
    margin: 0 auto;
    text-align: center;
  }
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .datos1{
    order:2;
    text-align: center;
  }
  
  
  .datos2{
    order:1;
   
    
  }

}



@media screen and (max-width:500px) {
  :root {
    --fs-h1: 2rem;
    --fs-h2: 1.125rem;
    --fs-h3-p: .9rem;
    --fs-body: .5rem;
  }

  .container {
    background: url('../img/bg-image.jpg');
    background-size: cover;
    width: 100%;
    height: 400px;
  }

  .nav {

    width: 80%;
  }

  .banner {
    margin-top: 10em;
    width: 100%;
    height: 250px;

  }


  .blockquote {
    padding: 15%;
  }

  .blockquote p {

    padding-top: 2em;
  }

  .frase p {

    font-size: var(--fs-body);
  }







}